 * {
  font-family: Arial;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: rgb(239, 194, 45);
  padding: 40px;
  border-radius: 20px;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}


button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: black;
  color: rgb(239, 194, 45);
  font-weight: bold;
  cursor: pointer;
}


#resultado {
  margin-top: 25px;
  padding: 15px;
  border-radius: 12px;
  background: black;
  color: rgb(239, 194, 45);
  text-align: center;
  font-weight: bold;
  min-height: 60px;
}
